<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.title }} {{ page.dir | slugify }}: {{ site.description }}">

    <title>{{ site.title }} {{ page.dir | slugify }}</title>

    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="./assets/css/style-2026.css?_={{ site.time | date: '%s' }}">
    <script src="./assets/js/Gallery.js"></script>
    <script src="./assets/js/ImgPopUp.js"></script>
    <script src="./assets/js/script-2026.js?_={{ site.time | date: '%s' }}" defer></script>
</head>
<body>

{% include_relative includes/header.md %}

<main class="main">
        {{content}}
</main>

{% include_relative includes/footer.html %}

</body>
</html>
